@inherits LayoutComponentBase
@using Lirmi_Challenge_Front_end.Shared;
@using Lirmi_Challenge_Front_end.Pages;

<PageTitle>Lirmi_Challenge_Front-end</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
    <MudLayout>
        <Navbar />

        <MudDrawer Height="100vh" Anchor="Anchor.Left" Open="true" Elevation="0" Variant="@DrawerVariant.Persistent" Style="background-color: #EEEEEE;">
            <MudDrawerHeader Style="display: inline-flex; align-items: center; justify-content: space-between">
                <MudText Typo="Typo.h6" Style="color: black;" Class="fw-bold">Experiencias</MudText>
                <MudIconButton Size="Size.Small" Variant="Variant.Filled" Icon="@Icons.Filled.Add" Style="color: black; background-color: white" Class="ml-2" />
            </MudDrawerHeader>

                @{int i = 1;}
                @foreach (DrawerItem item in drawerItems)
                {
                    <div class="d-flex justify-content-evenly mb-4">
                        <strong style="font-size: 16px">@(i++)</strong>
                        <DrawerCard 
                            CardStyles="@item.CardStyles"
                            TitleStyles="@item.TitleStyles"
                            SubTitleStyles="@item.SubTitleStyles"
                            SelectorStyles="@item.SelectorStyles"
                            Title="@item.Title"
                            SubTitle="@item.SubTitle"
                            Time="@item.Time"
                            SelectorName="@item.SelectorName" 
                        />
                    </div>
                }
        </MudDrawer>

        <MudDrawer Width="23%" Height="auto" Anchor="Anchor.Right" Open="true" Elevation="0" Variant="@DrawerVariant.Persistent" Style="background-color: #EEEEEE">
            <MudList Clickable="false" Dense="false" DisableGutters="false" Style="height: 100vh;">
                <MudListItem>
                    <MudText Typo="Typo.subtitle2" Style="color: black;" Class="fw-bold">Ayuda antes de responder</MudText>
                    <MudGrid>
                        <MudItem xs="8" md="8" lg="8" xl="8" xxl="8" Class="d-flex align-items-center">
                            <MudText Typo="Typo.subtitle2" Style="color: black;" Class="fw-normal">Pistas</MudText>
                        </MudItem>
                        <MudItem xs="4" md="4" lg="4" xl="4" xxl="4">
                            <MudSwitch @bind-Checked="@Basic_Switch1" Color="Color.Primary" />
                        </MudItem>
                    </MudGrid>
                </MudListItem>
                <hr style="margin: 0px auto; width: 90%;" />
                <MudListItem>
                    <MudText Typo="Typo.subtitle2" Style="color: black;" Class="fw-bold">Retroalimentación de respuesta incorrecta</MudText>
                    <MudGrid>
                        <MudItem xs="8" md="8" lg="8" xl="8" xxl="8" Class="d-flex align-items-center">
                            <MudText Typo="Typo.subtitle2" Style="color: black;" Class="fw-normal">Solucionario</MudText>
                        </MudItem>
                        <MudItem xs="4" md="4" lg="4" xl="4" xxl="4">
                            <MudSwitch @bind-Checked="@Basic_Switch2" Color="Color.Primary" />
                        </MudItem>
                    </MudGrid>
                </MudListItem>
                <hr style="margin: 0px auto; width: 90%;" />
                <MudListItem>
                    <MudText Typo="Typo.subtitle2" Style="color: black;" Class="fw-bold">Retroalimentación de respuesta correcta</MudText>
                    <MudGrid>
                        <MudItem xs="8" md="8" lg="8" xl="8" xxl="8" Class="d-flex align-items-center">
                            <MudText Typo="Typo.subtitle2" Style="color: black;" Class="fw-normal">Personalizar mensaje</MudText>
                        </MudItem>
                        <MudItem xs="4" md="4" lg="4" xl="4" xxl="4">
                            <MudSwitch @bind-Checked="@Basic_Switch3" Color="Color.Primary" />
                        </MudItem>
                    </MudGrid>
                </MudListItem>
            </MudList>
        </MudDrawer>
        <MudMainContent Style="padding-top: 20px;">
            <MudContainer Class="px-8" MaxWidth="MaxWidth.False">

                <MudDrawerContainer>
                    <MudGrid>
                        <MudItem xs="12" sm="12" md="12" Class="py-1">
                            <MudTextField @bind-Value="TextValue" Label="Nombre de la actividad" Variant="Variant.Outlined"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" Class="py-1">
                            <MudSelect T="string" Label="Recurso" Variant="Variant.Outlined">
                                <MudSelectItem Value="@("Recurso1")" />
                                <MudSelectItem Value="@("Recurso2")" />
                                <MudSelectItem Value="@("Recurso3")" />
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" Class="py-1">
                            <MudTextField T="string" Label="Enunciado" Variant="Variant.Outlined" Lines="4" />
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" Class="py-1" Style="margin-top: 10px;">
                            <MudCard class="mt-2">
                                <MudGrid>
                                    <MudItem xs="6" sm="6" md="6" lg="6" xxl="6" Class="pl-5">
                                        <MudSelect Margin="Margin.Dense" Dense="true" T="string" Label="Actividad" Variant="Variant.Outlined">
                                            <MudSelectItem Value="@("Selección múltiple")" />
                                        </MudSelect>
                                    </MudItem>

                                    <MudItem xs="12" md="12" Class="pl-5">
                                        <MudRadioGroup @bind-SelectedOption="@Placement">
                                            <MudRadio Style="width: 100%;" Color="Color.Primary" Option="@(Placement.Top)">
                                                <div class="d-flex">
                                                    <MudTextField Margin="Margin.Dense" @bind-Value="TextValue" Label="Alternativa 1" Variant="Variant.Outlined"></MudTextField>
                                                    <MudIconButton Icon="@Icons.Filled.MoreVert" Size="Size.Medium" />
                                                </div>
                                            </MudRadio>
                                            <MudRadio Style="width: 100%;" Color="Color.Primary" Option="@(Placement.Top)">
                                                <div class="d-flex">
                                                    <MudTextField Margin="Margin.Dense" @bind-Value="TextValue" Label="Alternativa 2" Variant="Variant.Outlined"></MudTextField>
                                                    <MudIconButton Icon="@Icons.Filled.MoreVert" Size="Size.Medium" />
                                                </div>
                                            </MudRadio>
                                            <MudRadio Style="width: 100%;" Color="Color.Primary" Option="@(Placement.Top)">
                                                <div class="d-flex">
                                                    <MudTextField Margin="Margin.Dense" @bind-Value="TextValue" Label="Alternativa 3" Variant="Variant.Outlined"></MudTextField>
                                                    <MudIconButton Icon="@Icons.Filled.MoreVert" Size="Size.Medium" />
                                                </div>
                                            </MudRadio>
                                        </MudRadioGroup>
                                    </MudItem>
                                </MudGrid>
                            </MudCard>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" Class="py-1" Style="margin-top: 10px;">
                            <MudCard class="mt-2" Style="padding: 10px;">
                                @if (Basic_Switch1)
                                {
                                    <MudTextField @bind-Value="TextValue" Label="Pistas" Variant="Variant.Outlined" Lines="2"></MudTextField>
                                }

                                @if (Basic_Switch2)
                                {
                                    <MudTextField @bind-Value="TextValue" Label="Solucionario" Variant="Variant.Outlined" Lines="2"></MudTextField>
                                }

                                @if (Basic_Switch3)
                                {
                                    <MudTextField @bind-Value="TextValue" Label="Personalizar mensaje" Variant="Variant.Outlined" Lines="2"></MudTextField>
                                }
                            </MudCard>
                        </MudItem>
                    </MudGrid>
                </MudDrawerContainer>
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</div>

@code {
    public bool Basic_Switch1 { get; set; }
    public bool Basic_Switch2 { get; set; }
    public bool Basic_Switch3 { get; set; }
    public string TextValue { get; set; }
    public Placement Placement { get; set; } = Placement.Right;


    public class DrawerItem
    {
        public string Title { get; set; }
        public string SubTitle { get; set; }
        public string Time { get; set; }
        public string SelectorName { get; set; }
        public string CardStyles = "border-radius: 10px; width: 80%;";
        public string TitleStyles = "font-weight: 400;";
        public string SubTitleStyles = "color: #747474; font-weight: 400;";
        public string SelectorStyles = "border-radius: 30px; max-height: 25px;";


        public DrawerItem(string title, string subtitle, string time, string selector, string cardStyles, string titleStyles, string subStyles, string selectorStyles)
        {
            this.Title = title;
            this.SubTitle = subtitle;
            this.Time = time;
            this.SelectorName = selector;
            this.CardStyles += cardStyles;
            this.TitleStyles += titleStyles;
            this.SubTitleStyles += subStyles;
            this.SelectorStyles += selectorStyles;
        }
    }

    public List<DrawerItem> drawerItems = new List<DrawerItem>
    {
        new DrawerItem("Recurso", "La caperucita roja", "17", "Activo", "", "", "", "background-color: #C7F4CB;"),
        new DrawerItem("Selección múltiple", "Nombre de la actividad", "17", "Por validar", "background-color: #6600FF;", "color: white;", "color: white;", "background-color: #C7F4CB;"),
        new DrawerItem("Etiquetar", "Nombre de la actividad", "17", "Inactivo", "", "", "", "background-color: #FFD5D2;")
    };

}